<div class="pageContents">
	<form action="C=addons_extensions&M=save_extension_settings&file=accessible_captcha" method="post">
		{% if XID %}
		<div>
			<input type="hidden" name="XID" value="{{ XID }}" />
		</div>
		{% endif %}
		<table class="mainTable padTable" border="0" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th style="width:50%;">
						{{ lang.preference }}
					</th>
					<th>
						{{ lang.setting }}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="even">
					<td>
						<strong>{{ lang.switched_on }}
					</td>
					<td>
						<input type="radio" name="switched_on" value="yes" id="switched_on" label="yes">&nbsp;<label for="switched_on">{{ lang.yes }}</label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="switched_on" value="no" checked="checked" id="switched_off" label="no">&nbsp;<label for="switched_off">{{ lang.no }}</label>
					</td>
				</tr>
				<tr class="even">
					<td>
						<strong>{{ lang.hints }}</strong>
					</td>
					<td>
						<input type="radio" name="hints" value="yes" id="hints_yes" label="yes">&nbsp;<label for="hints_yes">{{ lang.yes }}</label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="hints" value="no" checked="checked" id="hints_no" label="no">&nbsp;<label for="hints_no">{{ lang.no }}</label>&nbsp;&nbsp;&nbsp;&nbsp;
					</td>
				</tr>
				<tr class="odd">
					<td>
						<strong>{{ lang.hints_wrap }}</strong>
					</td>
					<td>
						<input type="radio" name="hints_wrap" value="yes" id="hints_wrap_yes" label="yes">&nbsp;<label for="hints_wrap_yes">{{ lang.yes }}</label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="hints_wrap" value="no" checked="checked" id="hints_wrap_no" label="no">&nbsp;<label for="hints_wrap_no">{{ lang.no }}</label>&nbsp;&nbsp;&nbsp;&nbsp;
					</td>
				</tr>
			</tbody>
		</table>
		<table class="mainTable padTable" border="0" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th style="width:50%;">
						{{ lang.question }}
					</th>
					<th>
						{{ lang.answer }}
					</th>
				</tr>
			</thead>
			<tbody class="settings_pair">
				<tr class="even">
					<td>
						<textarea name="question[]" rows="1" cols="30">{{ lang.warning_question }}</textarea>
					</td>
					<td>
						<textarea name="answer[]" rows="1" cols="30">{{ lang.warning_answer }}</textarea>
					</td>
				</tr>
			</tbody>
		</table><input type="submit" name="submit" value="Submit" class="submit">
	</form>
	<div class="clear_right"></div>
</div>